@font-face {
  font-family: 'HelveticaNeueLTStd-BdCn';
  src: url('../fonts/HelveticaNeueLTStd-BdCn.eot');
  src: local('☺'),
    url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-BdCn.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: url(../images/bg_site.jpg) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#page_heading {
  background: none;
  margin-bottom: 47px;
  font-family: 'HelveticaNeueLTStd-Bd' !important;
}
h2.page_heading_text{
  margin: 0;
  line-height: 2.3em;
}
.std-title{
  font-size: 24px;
}
.small-title{
  font-size: 20px;
}
.highlited-title {
  font-size: 26px;
  font-weight: bold;
  border: 2px solid #66707C;
  border-right: none;
  padding: 10px 0;
  border-left: none;
}
em.star{
  content: "";
  background: url(../images/title_star.png) no-repeat center center;
  display: inline-block;
  height:13px;
  width:14px;
  padding: 0 15px;
  vertical-align: middle;
}
#breadcrumbs{
  display: none;
}
h3.post_title{
  text-transform: none;
}
h3.post_title a{
  font-size: 20px;
  color: #000;
}
.view-commerce-cart-form,
.view-commerce-cart-form table tbody tr {
  background: #f5f5f5;
}
.view-commerce-cart-form table {
  width: 100%;
  border-collapse: separate;
}
.view-commerce-cart-form table th {
  text-align: center !important;
}
.view-commerce-cart-form table th,
.view-commerce-cart-form table td {
  padding: 8px;
  vertical-align: middle;
}
.view-commerce-cart-form table td input[type="text"] {
  margin: 0;
}
.view-commerce-cart-form table .views-field-commerce-unit-price,
.view-commerce-cart-form table .views-field-edit-quantity,
.view-commerce-cart-form table .views-field-edit-delete {
  width: 80px;
  text-align: center;
}
.view-commerce-cart-form table .views-field-edit-quantity input {
  width: 50px
}
.view-commerce-cart-form .views-field-commerce-total {
  width: 60px;
  text-align: right;
  padding-right: 20px;
}
.view-commerce-cart-form .line-item-summary {
  margin: 0 20px 0 0;
}
.view-commerce-cart-form .form-actions {
  border-top: none;
  padding: 10px 15px 10px 0;
}
#block-system-main {
  background: rgba(246, 246, 246, 0.8);
  border: 1px solid #f6f6f6;
  padding: 20px;
}
#main_content .region-content .block h2{
  color: #FFF;
}
#edit-buttons .button-operator {
  margin: 0 10px;
}
.tabs.primary {
  border: none;
}
.tabs.primary li a {
  padding-left: 8px;
  padding-right: 8px;
  line-height: 30px;
  border: 1px solid #ccc;
  color: #999;
  font-family: Verdana !important;
  border-radius: 8px;
  font-size: 11px;
}
.tabs.primary li a:hover,
.tabs.primary li.active a {
  border-color: #ccc;
  color: #000;
}
.container .row {
  margin-bottom: 20px;
}
#block-easy-social-easy-social-block-1 .content {
  padding: 0 20px;
}
.node-39-product-commerce-price {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0 10px;
}
#commerce-cart-add-to-cart-form-3 em {
  margin: 15px 0 10px;
  display: block;
}
.view-patrocinadores-grid.view-display-id-block_1 td,
.view-patrocinadores-grid.view-display-id-block_2 td {
  width: 33%;
  vertical-align: top;
}
.view-patrocinadores-grid.view-display-id-block_1 .views-field-field-logo,
.view-patrocinadores-grid.view-display-id-block_2 .views-field-field-logo {
  height: 100px;
  margin-bottom: 20px;
  text-align: center;
}
.view-patrocinadores-grid.view-display-id-block_1 .views-field-field-logo img,
.view-patrocinadores-grid.view-display-id-block_2 .views-field-field-logo img {
  width: auto;
  max-height:100px;
}
.view-patrocinadores-grid.view-display-id-block_1 .views-field-body,
.view-patrocinadores-grid.view-display-id-block_2 .views-field-body {
  padding: 10px 10px 0;
}
#menu_wrap{
  padding-top: 10px;
}
#main-menu-links > ul > li > a {
  color: #fff;
  font-weight: bold;
  text-shadow: #000 2px 2px;
  background-color: #000;
  opacity: 0.7;
  font-size: 16px;
}
#main-menu-links > ul > li.active-trail > a,
#main-menu-links > ul > li > a:hover {
  color: #000;
  text-shadow: none;
  background-color: #f6f6f6;
  opacity: 0.9;
}
@media (min-width: 960px) {
  #main_title {
    margin: 20px 0 10px 30px !important;
  }
}
.page-node-69 .region-content .view {
  margin-bottom: 60px;
}

.page-node-69 .region-content .view h1 {
  border-bottom:2px solid #ddd;
  margin-bottom:20px;
}

.page-node-69 .region-content .view .views-field-field-logo {
  margin-bottom:20px;
}

.view-id-patrocinadores_grid.view-display-id-block .views-field-field-logo img {
  width:350px;
}

.view-id-patrocinadores_grid.view-display-id-block_1 td {
  padding:0 20px;
  width: 270px;
}

.view-id-patrocinadores_grid.view-display-id-block_1 .col-1 .views-field-field-logo img {
  width:190px;
}

.view-id-patrocinadores_grid.view-display-id-block_1 .col-2 .views-field-field-logo img {
  width:260px;
  margin-top:10px;
}

.view-id-patrocinadores_grid.view-display-id-block_1 .col-3 .views-field-field-logo img {
  width:260px;
  margin-top:30px;
}

.view-id-patrocinadores_grid.view-display-id-block_2 td {
  padding:0 20px;
  width: 200px;
}

.view-id-patrocinadores_grid.view-display-id-block_2 .col-1 .views-field-field-logo img {
  width:180px;
  margin-top:25px;
}

.view-id-patrocinadores_grid.view-display-id-block_2 .col-2 .views-field-field-logo img {
  width:90px;
  margin-top:5px;
}

.view-id-patrocinadores_grid.view-display-id-block_2 .col-3 .views-field-field-logo img {
  width:180px;
  margin-top:25px;
}

.view-id-patrocinadores_grid.view-display-id-block_3 td {
  padding:0 20px;
}

.view-id-patrocinadores_grid.view-display-id-block_3 .col-1 .views-field-field-logo img {
  width:140px;
  margin-bottom:10px;
}
.view-id-patrocinadores_grid.view-display-id-block_3 .col-2 .views-field-field-logo img {
  width: 140px;
  margin-bottom: 10px;
}
#commerce-checkout-form-registration #edit-commerce-coupon-coupon-add,
#commerce-checkout-form-registration #edit-commerce-coupon-coupon-add--2 {
  display: none;
}
